@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Anpassen je nach verfügbarem Gewichtsbereich */
}

@font-face {
  font-family: "Work Sans";
  src: url("./fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Anpassen je nach verfügbarem Gewichtsbereich */
  font-style: italic;
}

:root {
  --bg-green: #238459;
  --black: #2b3526;
  --acc-green: #5cf675;
  --white: #f4f3f0;
  --white-75: #f4f3f0bd;
  --light-pink: #ffc7db;
  --pink: #ad83e2;
  --pink-error: #b06fff;
  --dark-bg: #1e1e1e;
  --bold: 700;
  --regular: 400;
  --light: 300;

  --xx-small: 0.6rem;
  --extra-small: 0.75rem;
  --small: 1rem;
  --medium: 1.25rem;
  --medium-large: 1.75rem;
  --large: 2.5rem;
  --xlarge: 4.75rem;
  --huge: 6rem;
}

.survey-container {
  background-color: var(--white);
  height: 100vh;
  display: flex;
}

.image-container {
  flex: 1;

  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.image-container img {
  height: 100%;
}

.survey-content {
  flex: 2;
  width: 60%;
}

.sd-container-modern {
  height: 100vh !important;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.sd-body.sd-body--responsive {
  max-width: initial;
  padding: 0;
  height: 80%;
}
/* .sd-element--with-frame.sd-question--title-top {
  padding-top: 5rem;
} */
.sd-element--with-frame {
  background: var(--bg-green);
  border-radius: 0px 4px 4px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.sd-page {
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

#sp_111 .sd-page {
  background-color: var(--dark-bg);
  padding: 4rem;
}

#sp_111 .sd-element--with-frame {
  background: transparent;

  gap: 1rem;
  justify-content: center;
}
#sp_111 .sd-element--with-frame.sd-question--title-top {
  padding: 2rem 7rem;
}
#sp_111 .sd-element__title .sv-string-viewer.sv-string-viewer--multiline {
  font-size: var(--medium-large);
}
.sd-page img {
  overflow: hidden;
  height: 100%;
}

.sd-imagepicker__image {
  min-height: 450px !important;
}

.sd-imagepicker__text {
  font-weight: bold;
  color: #f4f3f0e0;
  font-size: var(--medium);
}
.sv-components-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
/*Progress*/

.sd-progress-buttons__list
  li
  .sd-progress-buttons__button
  .sd-progress-buttons__button-content {
  position: absolute;
  width: 50px;
  height: 100%;
  border-radius: 5px;
}
.sd-progress-buttons__list
  .sd-progress-buttons__list-element--current
  .sd-progress-buttons__button
  .sd-progress-buttons__button-content,
.sd-progress-buttons__list
  .sd-progress-buttons__list-element--passed
  .sd-progress-buttons__button
  .sd-progress-buttons__button-content {
  border: calc(0.5 * (var(--sjs-base-unit, var(--base-unit, 8px)))) solid
    var(--black, var(--black, #19b394));
  background-color: var(--black, var(--black));
  opacity: 1;
}

.sd-progress-buttons {
  padding: 0;
}

.sd-body.sd-body--responsive {
  max-width: initial;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 2rem;
}

/*BUTTONS*/

.sd-btn,
.start-nav button {
  border: none;
  display: flex;
  height: 100%;
  padding: 2rem 2rem !important;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0;
  border-radius: 3.125rem;
  color: var(--black);
  box-shadow: none;
  font-family: "Work Sans";
  font-size: var(--medium-large) !important;
}

.sd-body__navigation .sd-btn {
  padding: 0;
}

.sd-action-bar {
  display: flex;
  justify-content: flex-end;
}

#sv-nav-next {
  width: 70%;
}
#sv-nav-prev {
  width: 30%;
}

.sd-body__navigation.sd-action-bar {
  flex-wrap: nowrap;
  padding: 0;
}
#sv-nav-prev .sd-navigation__prev-btn {
  border-radius: 3.125rem;
  border: 1px solid var(--black);
  background: transparent;
}
.sd-navigation__next-btn,
.start-nav button {
  background: var(--acc-green);
}

/*Title*/

.sd-title .sv-title-actions {
  align-items: baseline;
  display: flex;
}
.sd-title .sv-title-actions .sv-title-actions__title {
  flex-wrap: nowrap;
  flex: 0 1 auto;
  /* max-width: calc(100% - 3* var(--sjs-base-unit, var(--base-unit, 8px))); */
  white-space: initial;
  min-width: unset;
  display: flex;
  justify-content: center;
  width: 100%;
}

.sd-element--with-frame .sd-item__control-label {
  color: var(--white);
  font-size: var(--medium);
}

.sd-element__title .sv-string-viewer.sv-string-viewer--multiline {
  color: var(--white);
  font-size: var(--large);
  line-height: 120%;
  font-family: Georgia;
  font-weight: var(--regular);
  text-align: center;
}

.sd-element__title .sd-element__num {
  display: none;
}

/*ANTWORTEN*/

.sd-radio__decorator {
  display: none;
}

.sd-item__control-label {
  text-align: center;
}

.sd-selectbase__label {
  display: flex;
  position: relative;
  gap: var(--sjs-base-unit, var(--base-unit, 8px));
  vertical-align: top;
  max-width: 100%;
  border-radius: 0.625rem;
  background: rgba(244, 243, 240, 0.15);
  padding: 20px;
}

.sd-item--checked .sd-selectbase__label {
  border-radius: 0.625rem;
  border: 2px solid var(--acc-green);
  background: rgba(244, 243, 240, 0.25);
}

.sd-rating {
  margin: 0 auto;
}

/*RESULTS*/

/*RESULTS LAYOUT*/

.results-container {
  background-color: var(--white);
  height: 100vh;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.charts-container {
  background-color: var(--bg-green);
  height: 100%;
  padding: 3rem;
  border-radius: 10px;
}

.chart-element {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  padding: 0.5rem 1rem;
}

.border-bottom {
  border-bottom: var(--white) solid 1px;
}
.border-left {
  border-left: var(--white) solid 1px;
}
.satisfaction-container {
}
.satisfaction-chart-element .border-bottom {
  border-bottom: var(--white-75) solid 1px;
  padding-bottom: 0.5rem;
}

.satisfaction-chart-element {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: -webkit-fill-available;
  gap: 0.5rem;
}

/*RESULTS STYLING*/

h2,
h2 * {
  font-size: var(--medium) !important;
  font-weight: 800 !important;
}

.satisfaction-chart-subtitles {
  font-size: var(--small) !important;
  color: var(--white-75) !important;
  font-weight: 500 !important;
}

.sd-question__header {
  text-align: center;
  width: 100%;
}

h3,
h3 * {
  font-size: 1.75rem;
  font-family: Georgia;
  color: var(--white) !important;
}

span.pink {
  color: var(--light-pink) !important;
}

h2,
h2 * {
  color: var(--white) !important;
}

/*RESULTAT NAV*/

.language-switcher {
  font-size: var(--medium-large);
  font-family: Work Sans;
}

.language-switcher span {
  cursor: pointer;
}

.language-switcher span.active {
  text-decoration: underline;
  font-weight: bold;
}

.language-switcher span:not(:last-child) {
  margin-right: 10px;
}

.sv-components-column .sd-action-bar.sd-footer,
.start-nav {
  display: flex;
  justify-content: space-between;
  border-top: solid 2px var(--black);
  padding-top: 2rem;
}

.start-nav button {
  flex: none;
  width: 50%;
}

/*RESULTS FRIEND REQUEST*/
.friend-request {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.friend-request img {
  height: 200px;
  width: auto;
}
/* override.css */
.sd-progress-buttons__footer {
  display: none;
}

div[data-key] {
  height: 100%;
  overflow: hidden;
}

.sd-row {
  height: 100%;
  overflow: hidden;
}
.sd-row--multiple > div {
  box-sizing: border-box;
  --animation-padding-left: calc(
    2 * (var(--sjs-base-unit, var(--base-unit, 8px)))
  );
  padding: 0;
  display: flex;
  align-items: stretch;
}
.sd-image__image {
  border-radius: 4px 0px 0px 4px;
}

/*ERROR*/
.sd-error {
  color: var(--pink-error);
  background: #b479ff2e;
  border: 2px solid var(--pink-error);
  text-align: center;
  width: 75% !important;
  margin: 0 auto !important;
  height: fit-content !important;
  border-radius: 5px;
  font-size: var(--medium);
  padding: 1rem;
}
.sd-question__required-text {
  color: var(--pink-error);
}
